.brands-swiper {
  &::after {
    width: 24px;
    height: 81px;
    right: 0;
    top: -5px;
  }

  &__slide {
    display: flex;
    justify-content: center;
  }

  &__card {
    height: 72px;
    display: flex;
    border: 1px solid #eaeaea;
    border-radius: 6px;
    padding-left: 16px;
    padding-right: 16px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__card-logo {
    max-width: 128px;
    max-height: 52px;
  }

  &__image-button {
    width: 40px;
    height: 40px;
    transition: all 0.2s;
  }
}
