.article-title {
  font-family: 'TT Lakes Light';
  color: #7e7e82;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 24px;
  padding: 16px 32px;
  background-image: linear-gradient(to right, #f8f8f8, #ffffff);

  box-shadow: 0px -1px #d9fff5;
}
