.services {
  padding-top: 24px;
  padding-bottom: 35px;

  @media (min-width: 1366px) {
    padding-top: 42px;
  }

  &__title {
    margin: 0;
    font-family: 'TT Lakes Bold';
    font-size: 28px;
    line-height: 40px;
    margin-bottom: 24px;

    @media (min-width: 1366px) {
      margin-bottom: 10px;
    }

    &::before {
      float: left;
      content: '';
      width: 8px;
      height: 40px;
      background-color: #41f6d7;
      margin-left: -4px;
      margin-right: 12px;
      border-radius: 30%;

      @media (min-width: 768px) and (max-width: 1365px) {
        margin-right: 22px;
        border-radius: 30%;
      }

      @media (min-width: 1366px) {
        margin-right: 32px;
        border-radius: 30%;
      }
    }
  }

  ////////
  ////////
  ////////
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.services__header-nav--visible-desktop {
  display: none;
}

.services__menu {
  display: flex;
  overflow: scroll;
  width: auto;
  white-space: nowrap;
  margin-bottom: 16px;
}

.services__menu:after {
  content: '';
  position: absolute;
  right: 0;
  width: 24px;
  height: 40px;
  background-image: url('../img/fader.svg');
}

.services__menu::-webkit-scrollbar {
  width: 0;
}

.services__menu-item {
  border: none;
  background: none;
  font-family: 'TT Lakes Medium';
  padding: 8px 16px;
  color: #7e7e82;
  font-size: 16px;
  line-height: 24px;
}

.services__menu-item:first-child {
  margin-left: 16px;
}

.services__menu-item--active {
  background-color: #ffffff;
  border: #b8ffec 2px solid;
  border-radius: 6px;
}

.services__content {
}

.services__content-text {
  margin-left: 16px;
  margin-bottom: 10px;
}

.text {
  font-family: 'TT Lakes Medium';
  font-size: 14px;
  line-height: 18px;
  color: #1b1c21;
}

.read-more-button {
  font-family: 'TT Lakes Medium';
  border: none;
  background: none;
  font-size: 16px;
  font-weight: 24px;
  margin-left: 18px;
  margin-bottom: 16px;
}

.read-more-button:before {
  display: inline-block;
  content: '';
  background-image: url('../img/arrow-down.svg');
  width: 8px;
  height: 10px;
  margin-right: 16px;
}

.services__content-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 35px;
  width: auto;
  max-width: 320px;
  height: auto;
}

@media (min-width: 768px) and (max-width: 1365px) {
  .services__menu {
    margin-left: 8px;
  }

  .services__content {
    display: flex;
  }

  .services__content-text {
    margin-bottom: 5px;
    margin-left: 25px;
  }

  .read-more-button {
    margin-left: 28px;
  }

  .services__content-image {
    max-width: 360px;
    margin-right: 25px;
    margin-left: 50px;
    border-radius: 5px;
  }
}

@media (min-width: 1366px) {
  .services__header-nav--visible-desktop {
    display: block;
  }

  .services__header {
    display: flex;
    justify-content: space-between;
    padding-right: 32px;
  }

  .services__header-nav {
    display: flex;
    align-items: center;
  }

  .services__header-nav-item-wrapper {
    display: flex;
    align-items: center;
  }

  .services__header-nav-text {
    margin-left: 32px;
    font-family: 'TT Lakes Medium';
    font-size: 16px;
    line-height: 24px;
  }

  .services__nav-icon {
    width: 40px;
    height: 40px;
    margin-left: 10px;
  }

  .services__nav-submit-button {
    background-image: url('../img/submit.svg');
  }

  .services__nav-checkstatus-button {
    background-image: url('../img/checkstatus.svg');
  }

  .services__menu {
    margin-left: 18px;
    flex-wrap: wrap;
    margin-bottom: -10px;
  }

  .services__menu-item:last-child {
    margin-left: 18px;
  }

  .services__content {
    display: flex;
  }

  .services__content-text {
    margin-bottom: 14px;
    margin-left: 35px;
  }

  .read-more-button {
    margin-left: 34px;
  }

  .services__content-image {
    max-width: 530px;
    margin-right: 28px;
    margin-left: 10px;
    border-radius: 5px;
  }
}
