@import './logo.scss';
@import './page-header/page-header.scss';
@import './sidebar.scss';
@import './services/services.scss';
@import './text.scss';
@import './show-all-button.scss';
@import './repairing-brands/repairing-brands.scss';
@import './swiper.scss';
@import './article-title.scss';
@import './devices-list/devices-list-wrapper.scss';
@import './price/price.scss';
@import './page-footer.scss';
@import './close-button.scss';
@import './modals/modal-feedback.scss';
@import './modals/modal.scss';
@import './input.scss';
@import './submit-button.scss';

@font-face {
  font-family: 'TT Lakes Light';
  src: url('../fonts/TTLakes-ExtraLight.ttf') format('truetype');
  font-weight: light;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes Regular';
  src: url('../fonts/TTLakes-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes Medium';
  src: url('../fonts/TTLakes-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes Bold';
  src: url('../fonts/TTLakes-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  color: #1b1c21;
  background-color: #f8f8f8;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'TT Lakes Regular';

  @media (min-width: 361px) {
    position: relative;
  }
}

main {
  @media (min-width: 1366px) {
    margin-left: 300px;
  }
}

.blur {
  @media (max-width: 1365px) {
    filter: blur(6px);
    pointer-events: none;
  }
}
.modal-blur {
  filter: blur(6px);
  pointer-events: none;
}

.color-gray {
  color: #7e7e82 !important;
}
