.price-table {
  font-family: 'TT Lakes Regular';
  font-size: 14px;
  border-spacing: 0px;
  margin-bottom: 24px;

  @media (max-width: 767px) {
    display: none;
  }

  @media (max-width: 1365px) {
    margin-left: 24px;
    margin-right: 24px;
  }

  @media (min-width: 1366px) {
    margin-left: 32px;
    margin-right: 32px;
  }

  @media (min-width: 768px) {
    width: 720px;
  }

  @media (min-width: 1016px) {
    width: 968px;
  }

  @media (min-width: 1120px) {
    width: 1060px;
  }

  @media (min-width: 1366px) and (max-width: 1432px) {
    width: 968px;
  }

  &__header {
    color: #7e7e82;
  }

  &__header-item {
    padding: 23px 16px;
    text-align: left;

    &:nth-child(1) {
      padding-right: 0;
    }

    &:nth-child(2) {
      padding-left: 15px;
    }

    &:nth-child(3) {
      padding-left: 15px;
    }
  }

  &__row {
    &::after {
      content: '';
      padding: 0;
      margin: 0;
      display: inline-block;
      position: absolute;
      transform: translateX(-703px);
      background-color: #eaeaea;
      width: 688px;
      height: 1px;

      @media (min-width: 768px) {
        width: 688px;
        transform: translateX(-703px);
      }

      @media (min-width: 1016px) {
        width: 936px;
        transform: translateX(-951px);
      }

      @media (min-width: 1120px) {
        width: 1028px;
        transform: translateX(-1043px);
      }

      @media (min-width: 1366px) and (max-width: 1432px) {
        width: 936px;
        transform: translateX(-951px);
      }
    }

    &:nth-child(2) {
      &::after {
        display: none;
      }
    }

    &:nth-child(2) {
      .price-table__row-item:first-child {
        border-top-left-radius: 6px;
      }

      .price-table__row-item:last-child {
        border-top-right-radius: 6px;
      }
    }

    &:last-child {
      .price-table__row-item:first-child {
        border-bottom-left-radius: 6px;
      }

      .price-table__row-item:last-child {
        border-bottom-right-radius: 6px;
      }
    }
  }

  &__row-item {
    padding: 23px 16px;
    background-color: #ffffff;
    border: none;

    &:nth-child(1) {
      padding-right: 0;
    }

    &:nth-child(2) {
      padding-left: 15px;
    }

    &:nth-child(3) {
      padding-left: 15px;
    }

    &:nth-child(4) {
      padding: 16px 16px;
      text-align: right;
    }
  }

  &__order-button {
    padding-top: 2px;
  }
}
